<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Beaah <3</title>
</head>
<body>
    <h1>Hola Beatriz!!</h1>
    <p>Ya he conseguido vencer al estupido de docker y a la estupida de la raspberry al 85~90%. jajajaja. Esto lo estoy escribiendo a las 3.03am jajajaja.</p>
    <p>Todo este esfuerzo a valido la pena... porque antes te enviaba correos donde te enterabas tu sola... Ahora se entera todooooo el mundo de lo muchooooo que te quierooooooooo.</p>
    <p> Te prometo que el lunes cuando vuelva te cuento un cuento de las hormigas que hace mucho que no te lo cuento, veras como todo va mucho mejor!!!! que sepas te quiero un mogollón!!</p>
    <img class="irc_mi" src="https://s-media-cache-ak0.pinimg.com/originals/4c/f1/7a/4cf17a9f1cba43426100e3c45aead9fe.jpg" alt="Resultado de imagen de gif corazon" onload="typeof google==='object'&amp;&amp;google.aft&amp;&amp;google.aft(this)" width="382" height="382" style="margin-top: 6px;">
    <h2>Muy buenas noches... me voy ha hacer la maleta!!</h2>
</body>
</html>